html{
    scroll-behavior: smooth;
}
body {
    background: #171028; /*background color*/
    margin: 0 0;
    font-family: Poppins;
    font-size: 1.25rem;
    
    
}

body::-webkit-scrollbar {
    width: 0px;
}

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 0;
}

.overlay.show {
    display: block;
}

.study-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.container-left {
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 100%;
}
.container-3 {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 100%;
    justify-content: center;
}
.container-right {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 100%;
    justify-content: end;
}


.logo {
    display:flex;
    flex-direction: row;
    background-color:#4d4567; /*logo background color */
    width: fit-content;
    height: fit-content;
    padding: 20px;
    font-size: 35px;
}

.bold {
    font-weight: bold;
}

.quick-title {
    display: flex;
    flex-direction: row;
    height: 10%;
    width: 80%;
    align-self: flex-end;
    font-size: 20px;
    background-color:#4d4567; /*link list background color */
}

.quick-title-padding {
    padding: 20px;
}
.quick-links {
    display: flex;
    flex-direction: column;
    background-color:#4d4567; /*link list background color */
    height: 100%;
    width: 80%;
    justify-content: space-evenly;
    align-self: flex-end;
}
.quick-item {
    display: flex;
    border: solid;
    font-size: 20px;
    padding: 20px;

}

#link {
    text-decoration: none;
    color: white;
    transition: 1s;
}

.timer-container {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    background-color: #4d4567;
}

.timer-visual {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    background-color: #4d4567;
}

.timer-buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #4d4567;
}

.block{
    display: inline-block;
    width: 20%;
}







.timer {
    text-align: center;
}

#time-display {
    font-size: 48px;
    margin-bottom: 20px;
}

.buttons input {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
    width: 60px;
}

.buttons button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
}

/* -------to do list-------- */
#mydiv{
  position: absolute;
  background: #4d4567;
  border: 2px solid #7f45b4;
  padding: 10px;
  color: white;
  border-radius: 15px;
  width: 15%;
  display: flex;
  flex-direction: column;
  right: 83%;
}

/* .todo-container{
    
    background: #4d4567;
    border: 2px solid #7f45b4;
    padding: 10px;
    color: white;
    border-radius: 15px;
    width: 15%;
    display: flex;
    flex-direction: column;
    margin-top: -40%;
    
    
  } */
  
  #input-box{
    width: 60%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 5px;
    font-size: 15px;
    /* display: flex; */
    
  }
   
  #input-button{
    font-size: 15px;
    cursor: pointer;
    transition: 0.4s;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #171028;
    color: white;
    align-items: flex-end;
  }
  
  .task button{
    background: rgb(12, 124, 251);
    border-radius: 5px;
    margin: 0px 5px;
    padding: 3px 5px;
    border: none;
    cursor: pointer;
    color: white;
    float: right;
    display: flex;
  }
  
  hr{
    border: 1px solid #7f45b4;
  }
  
  .header{
    margin: 5px;
    font-size: 15px;
    text-align: center;
  }
  
  h1{
    margin-bottom: 20px; 
  }
  
  #input-button:hover {
    background-color: #9eb7fd; 
  } 
  
  ul{
    list-style: none;
    padding: 0;
    margin-top: 20px;
    text-align:left;
    font-size: 15px;
  }
  
  li {
    border: 1px solid white;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    margin-top: 10px;
  }
  
  .edit-btn, .delete-btn, .complete-btn{
    float: right;
    color:rgb(214, 65, 65);
    cursor: pointer;
    margin: 3px 5px;
    border: none;
    padding: 3px 5px;
    background: none;  
    font-size: 15px;
  } 
  
  .completed {
    text-decoration: line-through;
    color: gray;
    border: 1px solid gray;
  }
  .counter-container{
    font-size: 15px;
  }
  
  