html{
    scroll-behavior: smooth;
}

body{
    background: skyblue;
    margin: 0 0;
    font-family: Poppins;
    font-size: 1.25rem;
}

body::-webkit-scrollbar {
    width: 0px;
}

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 0;
}

.menu-button {
    display: none;
    padding: 15px;
    border:rgb(0, 0, 0);
    border-radius: 20px;
    background-color: snow;
}

.overlay.show {
    display: block;
}

.hero-container {
    display: flex;
    width: 100%;
    padding: 10px 10%;
    width: 80%;
}

.alt-container {
    display: flex;
    width: 100%;
    padding: 10px 10%;
    width: 80%;
    background-color: snow;
}

.container {
    display: flex;
    width: 100%;
    padding: 10px 10%;
    width: 80%;
    color: snow;
}

.bold {
    font-weight: bold;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    background-color: snow;
    justify-content: space-between;
    align-content: center;
    padding: 1rem 1rem;
}

#link {
    text-decoration: none;
    color: black;
    transition: 1s;
}

.nav-home {
    width: 15%;
    margin: 0 3%;
    align-self: center;
}

.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 50%;
    align-items: center;
}

.nav-item{
    padding: 5px  15px;
    transition: .5s ease;

}

/* -------------hover affect for nav bar-------------- */
.nav-item:hover{
    background-color: rgb(197, 197, 197);
    border-radius: 15px;
    transition-duration: all 0.7s ease-in-out; 
}
/* -------------end------------ */

/* navbar code^^*/

.hero {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 10% 0;
    margin-top: 5%;
}

.hero-text {
    display: flex;
    flex-direction: column;
    width: 50%
}

.hero-header {
    font-size: 5rem;
    font-weight: bold;
}

.hero-study {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    text-align: center;
}

.hero-image-container {
    display: flex;
    width: 50%;
    padding: 40px;
    align-self: center;
    justify-content: center;
}

.hero-image {
    border-radius: 40px;
    background: transparent;
    border-color:skyblue;
    width: 100%;
}

.study-text {
    width: 70%;
}

.study-button {
    border-color: snow;
    border-radius: 20px;
    background-color: snow;
    padding: 15px;
    width: 20%;
    transition-duration: 0.5s;
    transition-property: all;
}

.study-button:hover {
    border-radius: 30px;
    background-color: rgb(197, 197, 197);

}

.topic-section {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.section-title {
    font-size: 2rem;
    padding: 1rem;
    font-weight: bold;
}

.alt-section-title{
    font-size: 2rem;
    padding: 1rem;
    font-weight: bold;

}

.resources {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    font-size: 1.5rem;
}

.ap-resources {
    width: 50%;
}

.general-resources {
    width: 50%;
}

.resource-list li a{
    text-decoration: none;
    text-decoration: underline;
    color: black;
    transition-duration: 0.35s;
}

.resource-list li a:hover{
    color: skyblue;
}

.alt-resource-list li a{
    text-decoration: none;
    text-decoration: underline;
    color: snow;
    transition-duration: 0.35s;
}

.alt-resource-list li a:hover{
    color: rgb(67, 67, 161);
}


.contact-text {
    font-weight: 450;
}

.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
    left: 400px
}
.contact-left p{
    margin-top: 30px;

}
.contact-left p i{
    margin-right: 15px;
    font-size: 25px;
}

.btn{
    font-size: 60px;
    color: snow;
}
.btn.btn2{
    display: inline-block;
    background: black;
    
}
.contact-right form{
    width: 100%;

}
form input, form textarea{
    width: 100%;
    border:0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: rgb(255, 255, 255);
    border-radius: 6px;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.copyrt{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: skyblue;
    font-weight: 300;
    margin-top: 20px;

}
.footer-container {
    display: flex;
    width: 100%;
    padding: 10px 10%;
    width: 80%;
    background-color: snow;
    padding-bottom: 4rem;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #dfdfdf;
    font-weight: 300;
    margin-top: 20px;

}