html{
    scroll-behavior: smooth;
}

body{
    background: skyblue;
    margin: 0 0;
    font-family: Poppins;
    font-size: 1.25rem;
}

.hero-container {
    display: flex;
    width: 100%;
    padding: 10px 10%;
    width: 80%;
}

.alt-container {
    display: flex;
    width: 100%;
    padding: 10px 10%;
    width: 80%;
    background-color: snow;
}

.container {
    display: flex;
    width: 100%;
    padding: 10px 10%;
    width: 80%;
    color: white;
}

.bold {
    font-weight: bold;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    background-color: snow;
    justify-content: space-between;
    align-content: center;
    padding: 1rem 1rem;
}

#link {
    text-decoration: none;
    color: black;
}

.nav-home {
    width: 15%;
    margin: 0 3%;
}

.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 50%;
    align-items: center;

}

/* navbar code^^*/


.hero {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 10% 0;
    margin-top: 5%;
}

.hero-text {
    display: flex;
    flex-direction: column;
    width: 50%
}

.hero-header {
    font-size: 4rem;
}

.hero-study {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    text-align: center;
}

.study-text {
    width: 70%;
}

.study-button {
    border-color: snow;
    border-radius: 20px;
    background-color: snow;
    padding: 15px;
    width: 20%;
}

.topic-section {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.section-title {
    font-size: 1.75rem;
    padding: 1rem;
}

.resources {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
}

.ap-resources {
    width: 50%;
}

.general-resources {
    width: 50%;
}

.resource-list li a{
    text-decoration: none;
    color: black;
}

.resource-list li a:hover{
    color: skyblue
}

.alt-resource-list li a{
    text-decoration: none;
    color: white;
}

.alt-resource-list li a:hover{
    color: black;
}




.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
    left: 400px
}
.contact-left p{
    margin-top: 30px;

}
.contact-left p i{
    color: #ffb7c5;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover {
    color: #ababab;
    transform: translateY(-5px);
}
.btn{
    font-size: 60px;
    color: white;
}
.btn.btn2{
    display: inline-block;
    background: black;
    
}
.contact-right form{
    width: 100%;

}
form input, form textarea{
    width: 100%;
    border:0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: rgb(255, 255, 255);
    border-radius: 6px;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #dfdfdf;
    font-weight: 300;
    margin-top: 20px;

}
