html{
    scroll-behavior: smooth;
}
body {
    background: skyblue;
    margin: 0 0;
    font-family: Poppins;
    font-size: 1.25rem;
}
.study{
    margin-left: 70px;
    margin-top: 100px;
    color: #000000;
    font-size: 5rem;
    left:20px;
    font-weight: bold;
}
.words{
    margin-left:70px;
    font-size: 2rem;
    color: black;
}
.button{
    margin-left: 120px;
    width: 180px;
    color: rgb(0, 0, 0);
    height: 100px;
    border: 0;
    border-radius: 20px;
    font-size: 30px;
    cursor: pointer;
}
.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    padding:1rem 1rem;
    background-color: snow;

}
.nav-home {
    width: 15%;
    margin: 0 3%;
}
.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 50%;
    align-items: center;

}
#link {
    text-decoration: none;
    color: black;
}
.bold {
    font-weight: bold;
}
.block1{
    position: absolute;
    left: 150px;
    top: 225px;
    width: 200px;
    height: 200px;
    padding: 15px 25px;
    display: inline-block;
    border-radius:10px;
    box-sizing: border-box;
    margin: 10px 900px;
    background-color: #fff;
    cursor: pointer;
    font-weight: bold;
    text-align: center;

}
.block2{
    position: absolute;
    left: 150px;
    top: 450px;
    width: 200px;
    height: 200px;
    padding: 15px 25px;
    display: inline-block;
    border-radius:10px;
    box-sizing: border-box;
    margin: 10px 900px;
    background-color: #fff;
    cursor: pointer;
    font-weight: bold;
    text-align: center;

}
.block3{
    position: absolute;
    left: 165px;
    top: 225px;
    width: 200px;
    height: 200px;
    padding: 15px 25px;
    display: inline-block;
    border-radius:10px;
    box-sizing: border-box;
    margin: 10px 1120px;
    background-color: #fff;
    cursor: pointer;
    font-weight: bold;
    text-align: center;

}
.block4{
    position: absolute;
    left: 165px;
    top: 461px;
    width: 200px;
    height: 200px;
    padding: 15px 25px;
    display: inline-block;
    border-radius:10px;
    box-sizing: border-box;
    margin: 0px 1120px;
    background-color: #fff;
    cursor: pointer;
    font-weight: bold;
    text-align: center;

}
.blocks{
    margin-top: 50px;
}
.container1{
    display: flex;
    background-color: #fff;
    display: flex;
    width: 80%;
    padding: 10px 10%;
    height:600px;
}
.miniHeader{
    margin-top: 30px;
    font-size: 50px;
    margin-left: -70px;
    width:400px;
    overflow-wrap: break-word;  
    word-wrap: break-word;
    word-break: break-word;
}
.podText{
    margin-top:30px;
    width:500px;
    font-size: 30px;
    overflow-wrap: break-word;  
    word-wrap: break-word;
    word-break: break-word;
}
.button1{
    margin-left: 120px;
    width: 600px;
    color: rgb(0, 0, 0);
    height: 125px;
    border: 0;
    border-radius: 20px;
    font-size: 30px;
    background-color: skyblue;
    position: absolute;
    left:660px;
    top:1150px;
    cursor: pointer;
}
.container2{
    display: flex;
    background-color: skyblue;
    width: 80%;
    padding: 10px 10%;
    height:600px;
    padding: 10px 10%;
}
.button2{
    margin-left: 120px;
    width: 600px;
    color: rgb(0, 0, 0);
    height: 125px;
    border: 0;
    border-radius: 20px;
    font-size: 30px;
    background-color: #fff;
    position: absolute;
    left:660px;
    top:1800px;
    cursor: pointer;
}

.container {
    display: flex;
    width: 100%;
    padding: 10px 10%;
    width: 80%;
    color: white;
}
.button3{
    margin-left: 120px;
    width: 600px;
    color: rgb(0, 0, 0);
    height: 125px;
    border: 0;
    border-radius: 20px;
    font-size: 30px;
    background-color: skyblue;
    position: absolute;
    left:660px;
    top:2400px;
    cursor: pointer;
}
.button4{
    margin-left: 120px;
    width: 600px;
    color: rgb(0, 0, 0);
    height: 125px;
    border: 0;
    border-radius: 20px;
    font-size: 30px;
    background-color: #fff;
    position: absolute;
    left:660px;
    top:3030px;
    cursor: pointer;
}
