*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html{
    scroll-behavior: smooth;
}
body{
    background: skyblue;
    color: black;
    font-family: Poppins;

    

}
.multiText{
    
    color: rgb(67, 67, 161);
    
}

#header{
    width: 100%;
    height: 100vh;
    background-image: url(https://cdn.discordapp.com/attachments/1217673669686595628/1218721003434410135/image.png?ex=6608b161&is=65f63c61&hm=f1721436b8e5820ace7c3731353de7aff04c0be3c33188fab3e6e351e59bd22a&);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    backdrop-filter: blur(5px);
    
}
.container{
    padding: 10px 10%;
    
}

nav{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.logo{
    width: auto;
    font-family: Poppins;
    font-size: 50px;
    color: black;
   
    

} 
#h1c{
    font-size: 50px;
    color: black;
}
nav ul li{
    display: inline-block;
    list-style-type: none;
    margin: 10px 20px;

}
nav ul li a{
    color: black;
    text-decoration: none;
    font-size: 40px;
    position: sticky;
    left: 100px;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 6px;
    background: skyblue;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%
}
.header-text{
    margin-top: 20%;
    font-size: 30px;
}
.header-text h1{
    font-size: 80px;
    margin-top: 20px;
}
.header-text h1 span{
    /* color: #ffb7c5; */
    color: black;
}

/* -------about----- */
#about {
    padding: 80px 0;
    color: black;
    font-size: 15px;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%
}
.about-col-1 img{
    width:100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 80%;
}

.Sub{
    font-size: 60px;
    font-weight: 400;
    color: black;
}
.Subb{
    font-size: 40px;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
    font-size: 50px;

}
.tab-links{
    margin-right: 50px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
/* .Subb{
    font-size: 30px;
} */
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: black;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;

}
.tab-contents ul li span{
    color: black;
    font-size: 50px;
}
.tab-contents{
    display: none;

}
.tab-contents.active-tab{
    display: block;
}
------projects------ */
#projects{
    padding:30px 0;
    

}
.projects-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.projects-list div{
    background-color: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}
.project-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.projects-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.projects-list div a{
    text-decoration: none;
    color: snow;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.projects-list div:hover{
    background: #ffb7c5;
    transform: translateY(-10px);

}
/* -----portoflio=
 */
 #portfolio{
    padding: 50px 0;
    
 }
 .work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
    
 }
 .work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
 }
 .work img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
 }
 .layer{
    width: 100%;
    height: 0%;
    /* background: linear-gradient(black, #ffb7c5), rgba(0,0,0,0.5); */
    background-image: linear-gradient( rgba(0,0,0,.4), rgb(189, 71, 95));
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    transition: height .5s;
 }
 .layer h2{
    font-weight: 500;
    margin-bottom: 20px;
    

 }
 .layer a{
    margin-top: 20px;
    color:#ffb7c5;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: snow;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
 }
 .work:hover img{
    transform: scale(1.1);
 }
 .work:hover .layer{
    height: 100%;
 }
 .btn{
    /* display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ffb7c5;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    transition: background 0.5s; */

    
    /* width: fit-content; */
    border: 3px solid black;
    padding: 14px 50px;

    text-decoration: none;

    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 20px auto;
    width: 450px;
    height: 250px;
    background: skyblue;
    border-radius: 75px;
    font-size: 30px;
    color: black;
    letter-spacing: 2px;
    transition: 1s box-shadow;
    transition: background 0.5s;
    
  
 }
 .btn:hover{
    background: #dfdfdf;
    box-shadow: 0 5px 35px 0px rgba(0,0,0,.1);
    border-color: snow;

 }
 
.btn:hover::before, .btn:hover::after {
    display: block;
    content: '';
    position: absolute;
    width: 250px;
    height: 250px;
    background: rgb(10, 151, 207);
    border-radius: 75px;
    z-index: -1;
    animation: 1s clockwise infinite;
    
  }
  
  .btn:hover:after {
    background: rgb(15, 111, 227);
    animation: 2s counterclockwise infinite;
  }
  
  @keyframes clockwise {
    0% {
      top: -5px;
      left: 0;
    }
    12% {
      top: -2px;
      left: 2px;
    }
    25% {
      top: 0;
      left: 5px;    
    }
    37% {
      top: 2px;
      left: 2px;
    }
    50% {
      top: 5px;
      left: 0;    
    }
    62% {
      top: 2px;
      left: -2px;
    }
    75% {
      top: 0;
      left: -5px;
    }
    87% {
      top: -2px;
      left: -2px;
    }
    100% {
      top: -5px;
      left: 0;    
    }
  }
  
  @keyframes counterclockwise {
    0% {
      top: -5px;
      right: 0;
    }
    12% {
      top: -2px;
      right: 2px;
    }
    25% {
      top: 0;
      right: 5px;    
    }
    37% {
      top: 2px;
      right: 2px;
    }
    50% {
      top: 5px;
      right: 0;    
    }
    62% {
      top: 2px;
      right: -2px;
    }
    75% {
      top: 0;
      right: -5px;
    }
    87% {
      top: -2px;
      right: -2px;
    }
    100% {
      top: -5px;
      right: 0;    
    }
  }
/* -------contact--------- */
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;

}
.contact-left p i{
    color: #ffb7c5;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover {
    color: #ababab;
    transform: translateY(-5px);
}
.btn{
    font-size: 60px;
}
.btn.btn2{
    display: inline-block;
    background: snow;
    
}
.contact-right form{
    width: 100%;

}
form input, form textarea{
    width: 100%;
    border:0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: rgb(255, 255, 255);
    border-radius: 6px;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #dfdfdf;
    font-weight: 300;
    margin-top: 20px;

}
/* ---------css for small screens------- */
nav .fa-solid{
    display: none;
}
white
#msg{
    color: #61b752;
    margin-top: -40px;
    display: block;
}
html{
    scroll-behavior: smooth;
}